apikey="test"
MEMORY_MANAGER="local"
POSTGRES_PASSWORD="fake-pass"
POSTGRES_HOST="host"
POSTGRES_PORT=5432
POSTGRES_DATABASE="postgres"
POSTGRES_USER="postgres"
POSTGRES_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}
